# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Chroma vector database storage
.chroma/
chroma_db/

# Checkpoints & Cache
.ipynb_checkpoints
.DS_Store

# Gradio
.gradio/

# PDFs (exclude except RayOptics.pdf)
*.pdf
!RayOptics.pdf
